.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.player_controls {
  display: flex;
  gap: 22px;

  button {
    color: var(--White);
    background: none;
    border: none;

    img {
      width: 32px;
      height: 32px;
    }
  }
}

.musicTimer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  span {
    color: var(--White);
  }

  .progressBarContainer {
    position: relative;
    width: 20vw;
    height: 4px;
    background: var(--Grey);
    margin: 0 10px;
    border-radius: 5px;

    .progressBar {
      -webkit-appearance: none;
      width: 100%;
      height: 100%;
      background: transparent;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }

    .progressBar::-webkit-slider-thumb {
      background: none;
      -webkit-appearance: none;
      width: 10px;
      height: 10px;
      cursor: pointer;
      z-index: 3;
      border-radius: 50%;
    }

    .progressBar:hover::-webkit-slider-thumb {
      background: var(--White);
      width: 10px;
      height: 10px;
    }

    .progressBar::-moz-range-thumb {
      width: 10px;
      height: 10px;
      background: var(--White);
      cursor: pointer;
      z-index: 3;
    }

    .progress {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background: var(--White);
      z-index: 1;
    }

    .progressBar:hover + .progress {
      background: var(--BtnGreen);
    }
  }
}
