.bg
 background: var(--Background)
 width: 310px

 a
  text-decoration: none
  color: var(--White)

 ul
  padding-top: 70px
  margin-left: 30px

 li
  display: flex
  align-items: center
  margin-bottom: 24.5px
  gap: 20px
