.backG {
  background: rgb(0, 0, 0);
  color: white;
  padding-top: 20px;
}

.container {
  background: linear-gradient(to bottom, #64a052, #35552c, #000000);
}

.onTopBtn {
  display: flex;
  justify-content: space-between;
  padding: 5px;

  button {
    background: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 7px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--White);
  }

  .arrows {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btnUser {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 40px;
    padding: 3px, 12px, 3px, 3px;
    border-radius: 40px;
    gap: 11px;

    img {
      margin-left: 4px;
      border-radius: 50%;
    }

    p {
      color: var(--White);
    }

    span {
      margin-right: 10px;
      color: var(--White);
    }
  }
}