.container-login {
  border: 1px solid green;
  background-color: rgb(46, 47, 51);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 80vw;


  .container-form {
    border: 1px solid blue;
    min-width: 80vw;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;


    input {
      border-radius: 30px;
      height: 40px;
      margin-top: 25px;
    }

    .redirect {
      border: 1px solid red;
      min-width: 80vw;
      display: flex;
      justify-content: space-around;
    }

    .checkbox {
      display: flex;
      flex-direction: row;
    }
  }
}